body {
  font-family: "Open Sans", sans-serif;
  color: DarkBlue;
  background-color: Ivory;
  margin: 10px 50px 10px 50px;
}

h1, h2 {
  font-family: Oswald, sans-serif;
}

img {
  float: left;
  padding: 10px;
}

